################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ControleFiscal.ApplicationCore/bin/Debug/net9.0/ControleFiscal.ApplicationCore.dll
ControleFiscal.ApplicationCore/bin/Release/net9.0/ControleFiscal.ApplicationCore.dll
